body {
    background-color: #ECF3FB;
    font-family: "Roboto", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Titulo {
    display: flex;
    justify-content: center;
}

.Botoes {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
}

.Icones {
    display: flex;
    flex-direction: row;
}