body {
    background-color: #ECF3FB;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.Titulo {
    display: flex;
    justify-content: center;
}

.Botoes {
    display: flex;
    flex-direction: row;
}

.Usuario,
.Interface,
.Acessibilidade {
    background-color: #005A8D;
}

footer {
    display: flex;
    justify-content: center ;
    background-color: #ffffff;
    height: 5%;
}

.Icones {
    display: flex;
    flex-direction: row;
    gap: 4em;
}