.conteinerComanda {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    width: 85vw;
    margin: 85px 0px 0px 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.containerSuperior {
    display: flex;
    justify-content: center;
    width: 100%;
}

.containerInferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Ícone laranja com degrade azul */
.iconeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}

.iconeLaranja {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #F38342;
}

.iconeAzul {
    background-color: #005A8D;
}

.line {
    width: 2px;
    height: 35px;
    background: linear-gradient(180deg, #F38342 0%, #005A8D 100%);
}

/* Formatação das informações do pedido - endereço */
.infoDelivery {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
}

.enderecoInfo {
    display: flex;
    flex-direction: column;
}

.tituloDelivery {
    color: #222;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.enderecoDelivery {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}

/* Formatação do tempo do pedido*/

.detalhesDelivery {
    display: flex;
    flex-direction: column;
    /* gap: 50px */
    height: 100%;
    justify-content: space-between;
}

.horasDelivery {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
}

.horaTitulo {
    color: #005A8D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.avancarDelivery {
    display: flex;
    justify-content: flex-end;
}

.setaIconee {
    cursor: pointer;
}

/* Formatação do mapa */

.botaoMaps {
    padding: 10px;
    background-color: var(--color2);
    line-height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: background 400ms;

    &:hover {
        background-color: #d46c30;
    }
}