body {
    background-color: #ECF3FB;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Titulo {
    display: flex;
    justify-content: center;
}

.Botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Usuario,
.Interface {
    background-color: #005A8D;
    color: #ffffff;
    width: 30%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.Usuario {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Interface {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Usuario h2,
.Interface h2 {
    font-size: 1em;
}

.Quadro {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.Modo-Escuro,
.Notificacoes, 
.Privacidade,
.Termos,
.Ajuda,
.Idioma,
.Sobre {
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: #222222;
  border-bottom: 1px solid #CADBDE;
  margin-bottom: 0.2em;
  padding-bottom: 0.2em;
}

.Sair {
  color: #222222;
}

.Icone-titulo {
    display: flex;
    align-items: center;
    font-size: 0.8em;
  }

.Icone-titulo h2 {
    font-weight: 500;
}
  
  .Icone {
    padding: 0 1em 0 1em;
  }
  
  .Icone svg {
    font-size: 1.5em;
    color: #005A8D;
  }

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.4s ease;
  }
      
  .toggle-label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
  }
  
  .toggle-input:checked + .toggle-label {
    background-color: #F38342;
  }
  
  .toggle-input:checked + .toggle-label:before {
    transform: translateX(26px);
  }
  
  .pageSelected::before{
    left: -38% !important;
  }

footer {
    display: flex;
    justify-content: center ;
    background-color: #ffffff;
    height: 10%;
    padding: 1em;
}

.Icones {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.Nome, 
.Email,
.Senha,
.Telefone,
.Bancaria,
.cpf,
.cnh {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #CADBDE;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
}

.Nome h2, 
.Email h2,
.Senha h2,
.Telefone h2,
.Bancaria h2,
.cpf h2,
.cnh h2 {
  font-size: 1.3em;
  margin: 0;
}

.Editar p {
  font-size: 1em;
  margin: 1em 0;
}

.Editar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Editar svg {
  color: #005A8D;
  font-size: 1.3em;
}